<IfModule rewrite_module>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_URI} ^/admin
    RewriteRule ^(.*)$ index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php
</IfModule>
